@mixin flexer($ai: start, $jc: center, $orientation: row) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $orientation;
}

@mixin pseudo($display: block, $pos: absolute, $content: '', $w: auto, $h: auto) {
    content: $content;
    display: $display;
    position: $pos;
    width: $w;
    height: $h;
}

@mixin media($width, $type: max) {
    $breakpoints: (
        'phone': 399px,
        'phone-wide': 479px,
        'phablet': 559px,
        'tablet-small': 639px,
        'tablet': 767px,
        'tablet-wide': 1023px,
        'desktop': 1247px,
        'desktop-wide': 1439px,
    );

    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == min {
            $width: $width + 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
