@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 3.125rem;
}
@media only screen and (max-width: 559px) {
  .container {
    height: auto;
  }
}
.container .description {
  text-align: center;
  width: 50%;
  max-width: 31.5625rem;
  min-width: 18.75rem;
}
.container .description_title {
  font-weight: 200;
  margin-bottom: 1.875rem;
}
@media only screen and (max-width: 1023px) {
  .container .description_title {
    font-size: 1.4375rem;
  }
}
.container .description_title span {
  font-weight: 600;
}
.container .description_content {
  font-size: 0.9375rem;
  color: #a3a5ae;
}
.container .cards {
  width: 90%;
  margin: 2.1875rem;
  max-width: 69.6875rem;
  min-height: 33.1875rem;
  height: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 1.5625rem;
}
@media only screen and (max-width: 559px) {
  .container .cards {
    width: 19.375rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 13.75rem);
    row-gap: 1.5625rem;
  }
}
.container .cards .card {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  background: #fff;
  font-size: 0.8125rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1247px) {
  .container .cards .card {
    width: 21.9375rem;
  }
}
.container .cards .card::after {
  content: "";
  display: block;
  position: absolute;
  width: auto;
  height: 0.3125rem;
  top: 0;
  left: 0;
  right: 0;
}
.container .cards .card:nth-child(1) {
  grid-row: 3/span 3;
  grid-column: 1;
}
.container .cards .card:nth-child(1)::after {
  background: #45d3d3;
}
@media only screen and (max-width: 559px) {
  .container .cards .card:nth-child(1) {
    grid-row: 1;
    width: 100%;
  }
}
.container .cards .card:nth-child(2) {
  grid-row: 1/span 3;
  grid-column: 2;
}
.container .cards .card:nth-child(2)::after {
  background: #ea5353;
}
@media only screen and (max-width: 559px) {
  .container .cards .card:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
  }
}
.container .cards .card:nth-child(3) {
  grid-row: 5/span 3;
  grid-column: 2;
}
.container .cards .card:nth-child(3)::after {
  background: #549ef2;
}
@media only screen and (max-width: 559px) {
  .container .cards .card:nth-child(3) {
    grid-row: 4;
    grid-column: 1;
    width: 100%;
  }
}
.container .cards .card:nth-child(4) {
  grid-row: 3/span 3;
  grid-column: 3;
}
.container .cards .card:nth-child(4)::after {
  background: #fcaf4a;
}
@media only screen and (max-width: 559px) {
  .container .cards .card:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
    width: 100%;
  }
}
.container .cards .card_content {
  color: #a3a5ae;
  margin-top: 0.9375rem;
  width: 85%;
}
.container .cards .card_img {
  text-align: right;
  margin-top: 2.1875rem;
}

/*# sourceMappingURL=style.css.map */
