@use './utils/index' as vars;

.container {
    width: 100%;
    height: 100%;
    @include vars.flexer(center, start, column);
    padding-top: vars.rem(50);

    @include vars.media(phablet) {
        height: auto;
    }

    .description {
        text-align: center;
        width: 50%;
        max-width: vars.rem(505);
        min-width: vars.rem(300);

        &_title {
            font-weight: 200;
            margin-bottom: vars.rem(30);
            @include vars.media(tablet-wide) {
                font-size: vars.rem(23);
            }

            span {
                font-weight: 600;
            }
        }

        &_content {
            font-size: vars.rem(15);
            color: vars.$grayish-blue;
        }
    }

    .cards {
        width: 90%;
        margin: vars.rem(35);
        max-width: vars.rem(1115);
        min-height: vars.rem(531);
        height: auto;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        column-gap: vars.rem(25);

        @include vars.media(phablet) {
            width: vars.rem(310);
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, vars.rem(220));
            row-gap: vars.rem(25);
        }

        .card {
            width: 100%;
            height: 100%;
            padding: vars.rem(20);
            background: #fff;
            font-size: vars.rem(13);
            position: relative;
            border-radius: vars.rem(8);
            overflow: hidden;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

            @include vars.media(desktop) {
                width: vars.rem(351);
            }

            &::after {
                @include vars.pseudo($h: vars.rem(5));
                top: 0;
                left: 0;
                right: 0;
            }
            &:nth-child(1) {
                grid-row: 3 / span 3;
                grid-column: 1;
                &::after {
                    background: vars.$cyan;
                }
                @include vars.media(phablet) {
                    grid-row: 1;
                    width: 100%;
                }
            }
            &:nth-child(2) {
                grid-row: 1 / span 3;
                grid-column: 2;
                &::after {
                    background: vars.$red;
                }
                @include vars.media(phablet) {
                    grid-row: 2;
                    grid-column: 1;
                    width: 100%;
                }
            }
            &:nth-child(3) {
                grid-row: 5 / span 3;
                grid-column: 2;
                &::after {
                    background: vars.$blue;
                }
                @include vars.media(phablet) {
                    grid-row: 4;
                    grid-column: 1;
                    width: 100%;
                }
            }
            &:nth-child(4) {
                grid-row: 3 / span 3;
                grid-column: 3;
                &::after {
                    background: vars.$orange;
                }
                @include vars.media(phablet) {
                    grid-row: 3;
                    grid-column: 1;
                    width: 100%;
                }
            }

            // @include vars.media(phablet) {
            //     grid-column: 1;
            // }

            &_content {
                color: vars.$grayish-blue;
                margin-top: vars.rem(15);
                width: 85%;
            }

            &_img {
                text-align: right;
                margin-top: vars.rem(35);
            }
        }
    }
}
